<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Treino</title>
</head>
<body>
    <h1>Cadastrar exercício para o aluno</h1>

    <form action="/add_treino" method="POST">

        <input type="hidden" name="id_aluno" value="{{ id_aluno }}">

        <p>Selecione o tipo:</p>

        <label>
            <input type="radio" name="dia_treino" value="A" required> Dia A
        </label>

        <label>
            <input type="radio" name="dia_treino" value="B" required> Dia B
        </label>

        <label>
            <input type="radio" name="dia_treino" value="C" required> Dia C
        </label>

        <label>
            <input type="radio" name="dia_treino" value="D" required> Dia D
        </label>

        <label>
            <input type="radio" name="dia_treino" value="E" required> Dia E
        </label>

         <label>
            <input type="radio" name="dia_treino" value="F" required> Dia F
        </label>

         <label>
            <input type="radio" name="dia_treino" value="G" required> Dia G
        </label>

        <hr>
        <p>Lista de Exercícios:</p>

        {% for exercicio in resultado %}

            <label>
                <input type="checkbox" name="exercicios_selecionados" value="{{ exercicio['id_exercicio'] }}">
                <strong>{{ exercicio['nome'] }}</strong>
            </label>
            <br>

            <label>Séries:</label>
            <input type="number" name="series_{{ exercicio['id_exercicio'] }}">

            <label>Repetições:</label>
            <input type="number" name="repeticoes_{{ exercicio['id_exercicio'] }}">

            <label>Intervalo (s):</label>
            <input type="number" name="intervalo_{{ exercicio['id_exercicio'] }}">
            <br><br>

        {% endfor %}

        <input type="submit" value="Salvar Treino">
    </form>
</body>
</html>