<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Aluno</title>
</head>
<body>
    <h1>Usuários cadastrados</h1>
    <p>Selecione o aluno para criar o treino:</p>

    <form action="/lista_exercicios" method="POST">

        {% if resultado %}
            {% for usuario in resultado %}
                <label>
                    <input type="radio" name="usuarios_selecionados" value="{{ usuario['id'] }}" required>

                    {{ usuario['nome'] }}
                </label>
                <br><br>
            {% endfor %}
        {% endif %}

        <input type="submit" value="Avançar para Exercícios">
    </form>

    <br>
    <a href="/">Voltar</a>
</body>
</html>