<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Selecionar Aluno</title>
</head>
<body>
    <h1>Usuários cadastrados</h1>
    <p>Selecione o aluno para criar o treino:</p>

    <form method="POST">

        {% if resultado %}
            {% for usuario in resultado %}
                {% if usuario['data_cadastro'] %}
                <label>
                    <input type="radio" name="usuario_selecionado" value="{{ usuario['id_usuario'] }}" required>
                    {{ usuario['nome'] }}
                    <br>
                    (Última avaliação: {{ usuario['data_cadastro'] }})
                </label>
                <br><br>
                {% endif %}
            {% endfor %}
        {% endif %}

        <input type="submit" value="Avançar para cadastrar Exercícios" formaction="/lista_exercicios">

        <input type="submit" value="Ver avaliação médica" formaction="/ver_avaliacao_medica">

    </form>

    <br>
    <a href="/">Voltar</a>

</body>
</html>