<!doctype html>
<html>
<head>
    <title>Dev Tool - Detalhe Service</title>
    <style>body{font-family: sans-serif; padding: 50px; text-align: center;}</style>
</head>
<body>
    <h1>Simulador de Chamada de Serviço</h1>
    <p>Este serviço espera receber um ID para detalhar.</p>
    
    <form action="/detalhe_exercicio" method="GET">
        <label>ID do Exercício:</label>
        <input type="number" name="id" required placeholder="Ex: 1">
        <button type="submit">Visualizar Detalhes</button>
    </form>
</body>
</html>
